#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_C_COMPILER=/usr/bin/gcc-8  \
		-DCMAKE_CXX_COMPILER=/usr/bin/g++-8 \
		-DLIBCLANG_LIBRARIES=/usr/lib/llvm-6.0/lib/libclang.so
